<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Battleship" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-gray-900">
    <header class="bg-gradient-to-br from-gray-900 to-gray-700">
      <div class="container mx-auto text-xl text-white font-semibold p-5">
        <%= live_redirect "Battleship", to: Routes.page_path(@conn, :index), class: "px-4" %></div>
    </header>
    <%= @inner_content %>
  </body>
</html>
